name: https unit tests

on:
  push:
    branches:
      - "JAPI-482"
  pull_request:
    branches:
      - "master"
      - "candidate-*"

  workflow_dispatch:

jobs:
  test-against-platform:
    runs-on: ubuntu-latest

    steps:

    - name: Setup JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Install K8s
      uses: balchua/microk8s-actions@v0.3.2
      with:
        channel: '1.26/stable'
        devMode: 'true'
        addons: '["dns", "rbac", "hostpath-storage", "registry"]'

    - name: Enable LoadBalancers
      run: |
        sudo microk8s enable metallb:10.64.140.43-10.64.140.49

    - name: Install JetStack Cert Manager
      run: |
        helm repo add jetstack https://charts.jetstack.io
        helm repo update
        kubectl apply -f https://github.com/cert-manager/cert-manager/releases/download/v1.11.0/cert-manager.crds.yaml
        helm install cert-manager jetstack/cert-manager --namespace cert-manager --create-namespace --version v1.11.0

    - name: Create Root Certificates
      run: |
        echo "[req]
        default_bits           = 2048
        default_keyfile        = ca.key
        distinguished_name     = dn
        prompt                 = no
        x509_extensions        = x509_ca

        [dn]
        C                      = US
        ST                     = GA
        L                      = Alparetta
        O                      = Lexis Nexis Risk
        OU                     = Platform Development
        CN                     = TestCluster
        emailAddress           = support@lexisnexisrisk.com

        [x509_ca]
        basicConstraints=CA:true,pathlen:1" > ca-req.cfg
        openssl req -x509 -newkey rsa:2048 -nodes -keyout ca.key -sha256 -days 1825 -out ca.crt -config ca-req.cfg
        kubectl create secret tls hpcc-signing-issuer-key-pair --cert=ca.crt --key=ca.key
        kubectl create secret tls hpcc-local-issuer-key-pair --cert=ca.crt --key=ca.key
        sudo keytool -import -trustcacerts -cacerts -storepass changeit -noprompt -alias hpcc-local-issuer -file ca.crt

    - name: Install HPCC Cluster
      run: |
        echo -e "certificates:\n  enabled: true\ndafilesrv:\n  - name: rowservice\n    disabled: false\n    application: stream\n    service:\n      servicePort: 7600\n      visibility: global" > values.yaml
        helm repo add hpcc https://hpcc-systems.github.io/helm-chart
        helm repo update
        helm install myhpcc hpcc/hpcc --set global.image.version=latest -f values.yaml

    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0

    - name: Rebase
      run: |
        git config user.email 'hpccsystems@lexisnexisrisk.com'
        git config user.name 'hpccsystems development'

    - name: Wait for ECLWatch Startup
      run: |
          kubectl wait --for=condition=ready pod --timeout=180s -l app=eclwatch
          echo "ECLWATCH_IP=$(kubectl get svc eclwatch -o jsonpath='{.spec.clusterIP}')" >> $GITHUB_ENV
          timeout 180s bash -c 'until kubectl get svc/rowservice --output=jsonpath="{.status.loadBalancer}" | grep "ingress"; do : ; done'
          echo "ROWSERVICE_IP=$(kubectl get svc rowservice -o jsonpath='{.spec.clusterIP}')" >> $GITHUB_ENV
          kubectl get pods
          kubectl get svc

    - name: Add Host File Entries
      run: |
        sudo -- sh -c -e "echo '${{ env.ECLWATCH_IP }} eclwatch.default' >> /etc/hosts";
        sudo -- sh -c -e "echo '${{ env.ROWSERVICE_IP }} rowservice.default' >> /etc/hosts";

    - name: Trust Certs
      run: |
        openssl s_client -showcerts -connect eclwatch.default:8010 < /dev/null | openssl x509 -outform DER > cert.der
        sudo keytool -import -keystore $JAVA_HOME/jre/lib/security/cacerts -storepass changeit -noprompt -alias eclwatch-tls -file cert.der
        openssl s_client -showcerts -connect rowservice.default:7600 < /dev/null | openssl x509 -outform DER > cert.der
        sudo keytool -import -keystore $JAVA_HOME/jre/lib/security/cacerts -storepass changeit -noprompt -alias dafilesrv-tls -file cert.der

    # speed things up with caching from https://docs.github.com/en/actions/guides/building-and-testing-java-with-maven
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build with Maven
      run: mvn -B --activate-profiles jenkins-on-demand -Dmaven.gpg.skip=true -Dmaven.javadoc.skip=true -Dmaven.test.failure.ignore=true -Dhpccconn=https://eclwatch.default:8010 -Dwssqlport=8510 install